body{
    background-color:black;
}
.innerdiv{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.outerdiv{
    font-size: xx-large;
    align-items: center;
    text-align: center;
    color:white;
}